################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/myUnis/.vs/myUnis
/frontend/myUnis.MAUI/.vs/myUnis.MAUI
/backend/myUnis/.vs/ProjectEvaluation
